<div class="navBar">
    <div class="row">
        <div class="col logo">
            <img src="./assets/img/logo-left.png">
        </div>
        <div class="col">
            Lorem ipsum dolor sit.
        </div>
        <div class="col logo">
            <img src="./assets/img/lotus-rigth.png">        
        </div>
    </div>
</div>
<div class="col-md-12 mainSelected">
    <div class="col-md-4">
        <div class="card optionSelected">
            <img src="./assets/img/pexels-unoo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Opción 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/dashboard" class="btn btn-outline-success btn-lg float-end">Clic para ir</a>
            </div>
        </div>
    </div> 
    <div class="col-md-4">
        <div class="card optionSelected">
            <img src="./assets/img/pexels-doss.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Opción 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/dashboard" class="btn btn-outline-success btn-lg float-end">Clic para ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card optionSelected">
            <img src="./assets/img/pexels-tress.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Opción 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/dashboard" class="btn btn-outline-success btn-lg float-end">Clic para ir</a>
            </div>
        </div>
    </div>
</div>
<div class="fooTer buTtom">
    <div class="col text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quod quisquam totam rerum repudiandae!
    </div>
  </div>