<div class="navBar">
    <div class="row">
        <div class="col logo imgLeft">
            <img src="./assets/img/logo-left.png">
        </div>
        <div class="col">
            Portal básico con login
        </div>
        <div class="col logo imgRigth">
            <img src="./assets/img/lotus-rigth.png">        
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mainLogin">      
      <div class="col-md-6 boxLogin">
        <h4 class="text-center">Registro de Usuario</h4>
        <form [formGroup]="registerUser" (ngSubmit)="register()" class="formLogin">
            <div class="mb-3">
              <label class="form-label">Usuario</label>
              <input type="text" class="form-control" formControlName="userNew">
              <div 
                *ngIf="registerUser.get('userNew')?.hasError('required') && registerUser.get('userNew')?.touched"
                class="form-text text-danger">El campo de Usuario es obligatorio</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input type="text" class="form-control" formControlName="emailNew">
                <div
                *ngIf="registerUser.get('emailNew')?.hasError('required') && registerUser.get('emailNew')?.touched"
                  class="form-text text-danger">El campo de Correo es obligatorio</div>
              </div> 
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" formControlName="passwordNew">
              <div
              *ngIf="registerUser.get('passwordNew')?.hasError('required') && registerUser.get('passwordNew')?.touched"
                class="form-text text-danger">El campo de Contraseña es obligatorio</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Repetir Contraseña</label>
                <input type="password" class="form-control" formControlName="passwordRepeat">
                <div
                *ngIf="registerUser.get('passwordRepeat')?.hasError('required') && registerUser.get('passwordRepeat')?.touched"
                  class="form-text text-danger">El campo de Contraseña es obligatorio</div>
              </div>          
            <button type="submit" class="btn btn-outline-primary btn-lg">Registrar</button>
            <button routerLink="/" class="btn btn-outline-secondary btn-lg float-end"> Inicio </button>
        </form>
      </div>
        
    </div>
</div>
<div class="fooTer buTtom">
  <div class="col text-center">
    Angular v20 2024.
  </div>
</div>